{% extends "TutoTestBundle::base.html.twig" %}



{% block filters %}
    <p>Looking to watch a movie respectful with women representation?</p>
    <form method ="POST" action="{{path('tuto_test_resultat')}}">
        <label class="checkbox">Most dialogues said by women
            <input type="checkbox" class="checkbox" id="smsflash" name="woman_name">
        </label>

        <label class="check">bechdel test
            <input type="checkbox" class="check" id="sms" name="button_bechdel">

        </label>

        <label class="checkbox">writed by women
            <input type="checkbox" class="checkbox" id="write" name="woman_write">
        </label>
        <label class="checkbox">directed by women
            <input type="checkbox" class="checkbox" id="drect" name="woman_direct">
        </label>
        <input type="submit"  name="envoyer">

    </form>

    <p>Looking to watch a movie respectful with women representation?</p>
    <ul>
        <li>Passed bechdel test</li>
        <li>Woman directed</li>
        <li>Woman written</li>
        <li>Most dialogues said by women</li>
    </ul>
{% endblock %}
